<div>
  <table align="center">
    <caption class="tabletitle"> </caption>
    <tr>
      <th>Xpath</th>
      <th>TagName</th>
      <th>TagValue</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let value of values; let i=index">
      <td type="text" id = "{{'xpath'+i}}">{{keys[i]}}</td>
      <td id = "{{'name'+i}}">{{value.tagName}}</td>
      <td contenteditable="true" id = "{{'value'+i}}">{{value.tagValue}}</td>
      <td><button (click) ="Add(item, i)" class="btn btn-success"><i class="fa fa-plus-circle"></i></button></td>
      <td><button (click)="Save(item,i)" class="btn btn-success"><i class="fa fa-save"></i></button></td>
      <td><button (click)="Delete(item,i)" class="btn btn-success"><i class="fa fa-trash"></i></button></td>
    </tr>
  </table>
</div>
