table.emp {
    text-align: center;
    border: 1px solid black    
}

.alignmentc{
    margin: auto;
}

.tabletitle {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    text-align: center;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: #f5f5f550;}

.btn-success {
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 2px #999;
}

.btn-success:hover {
    background-color: #7d7e7d
}

.btn-success:active {
    background-color: #a3a1a1;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}